.community_images_with_captions  {
	border:1px solid #bbbbbb;
	height:158px;	
}
.community_images_with_captions  .title{
	border-bottom:1px solid #bbbbbb;
	margin-bottom:10px;
	padding-left: 8px;
	height: 28px;
	line-height: 28px;
	font-weight:bold;
	background-color:#fcfcfc;	
}

.community_images_with_captions  .title a{
	color:#444444;
}

.community_images_with_captions  .title a:hover {
	text-decoration: none;
}

.community_images_with_captions  .title img{
	position:relative;
	top:-2px;
	left:-2px;
	margin-right:2px;
}

.community_images_with_captions  .title .more-button {
	float:right;
	margin-right:10px;
	font-weight:normal;
	color:#808080;
	font-size: 9pt;	
	text-decoration:none;
}

.community_images_with_captions_container {
	/*width:172px;	*/
	width:23%;
	float: left;
	/*margin-left:11px;*/
	margin-left:1.48%;	
}

.community_images_with_captions_container.no-margin {
	margin-right:0;
}

.images_with_captions .img-wrapper{
	/*width:168px;
	height:85px;*/
	padding: 2px;
	border:1px solid #bbbbbb;
}

.images_with_captions .img-wrapper img {
	width:100%;
	height: auto;
}


.images_with_captions .caption {
	width:90%;
	text-align:center;
	overflow:hidden;
	margin: 0.4em auto 0;
	line-height: 1.2em;
	height: 1em;
	word-break: break-all;
	white-space:nowrap;	
}

.images_with_captions .caption a{	
	font-family:dotum;
	text-decoration:none;
}